<div class="algo-input-controls">

  <algo-button
    variant="primary"
    [text]="'practice.input.customInput' | translate"
    (click)="customInputClick.emit()"
  />

  <algo-button
    variant="outline"
    [text]="'practice.input.randomInput' | translate"
    (click)="randomInputClick.emit()"
  />

  @if (!isDrawerOpen) {

    @if (showPatternControls) {
      <algo-data-pattern-controls
        [selectedPattern]="selectedPattern"
        [options]="patternOptions"
        (selectedPatternChange)="onPatternChange($event)"
      />
    }

  } @else {

    @if (showPatternControls) {
      <algo-data-pattern-controls
        [selectedPattern]="selectedPattern"
        [options]="patternOptions"
        [compact]="true"
        (selectedPatternChange)="onPatternChange($event)"
      />
    }

  }

</div>