.algo-login-page {
  &__error {
    color: var(--color-text-error);
  }

  &__link {
    color: var(--color-brand-accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
